.container7 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container7 h2{
  margin: 20px 0;
}
.job-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.joinbutton {
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  padding: 14px;
  border: none;
  background-color: #ED9728;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.joinbutton:hover {
  background-color: #c77a16;
}

.job-list {
  list-style: none;
  padding: 0;
}

.li {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #fafafa;
  gap: 10px;
}

.li span{
  font-family: 'Inter',sans-serif;
  
}