
.nav__bar {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.navigation{
    width: 100%;
    height: 48px;
    background-color: #F1F2F4;
    display: flex;
    justify-content: space-between;
}

.nav__buttons{
    display: flex;
    gap: 24px;
    align-items: center;
    padding-left: 150px;
}

.nav__buttons a {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #5E6670;
  text-decoration: none;
}

.contacts{
    display: flex;
    align-items: center;
    padding-right: 100px;
    gap: 24px;
}

.contact__info{
    display: flex;
    align-items: center;
    gap: 8px;
}

.number{
   font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.language__btn{
    display: flex;
    gap: 6px;
}

.language{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}








.search__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo__search{
    display: flex;  
    gap: 10px; 
    padding-left: 150px;
    
}

.registration__bar{
    display: flex;
    gap: 12px;
    padding-right: 120px;
}

.registration__bar a{
    cursor: pointer;
  --primary-color: #ED9728;
  --secondary-color: #fff;
  --hover-color: #0A65CC;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-family:'Inter';
  font-weight: 600;
 
}
.registration__bar a:hover{
     background-color: var(--hover-color);
}


