.nav__bar {
  width: 100%;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 0 #E4E5E8;
}

.navigation {
  width: 100%;
  height: 48px;
  background-color: #F1F2F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  position: relative;
}

.left-nav {
  display: none;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

.nav__buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav__buttons a {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #5E6670;
  text-decoration: none;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 45px;
}

.contact__info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.number{
  font-family: 'Inter',sans-serif;
  font-weight: 500;
}

.language__btn {
  display: flex;
  gap: 6px;
}

.language {
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  opacity: 0.6;
}

.burger {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}

.search__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  height: 90px;
}

.logo__search {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-bar {
  width: 600px;
  height: 48px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.country-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border: none;
  background: none;
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 32px;
  background: #ccc;
}

.search-icon {
  padding: 0 12px;
  color: #007aff;
}

.search-bar input {
  flex: 1;
  padding: 10px 14px;
  border: none;
  outline: none;
  font-size: 16px;
}

.registration__bar {
  display: flex;
  gap: 12px;
}

.registration__bar a {
  padding: 0.8em 1.8em;
  border-radius: 3px;
  color: #fff;
  background: #ED9728;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.registration__bar a:hover {
  background-color: #c57b1b;
}
.mobile__menu {
  display: none;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.mobile__menu a {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  font-family: 'Inter',sans-serif;
}

@media (max-width: 768px) {
  .nav__buttons, .contacts, .search__section {
    display: none;
  }

  .left-nav {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .navigation {
    padding: 0 20px;
  }

  .burger {
    display: block;
  }

  .mobile__menu {
    display: flex;
  }
}
