.section__3{
     width: 100%;
    max-width: 1920px;
    height: 530px;
    background-color: white;
}
.section__4{
     width: 100%;
    max-width: 1920px;
    height: 522px;
    background-color: #F1F2F4   ;
}
.section__6{
     width: 100%;
    max-width: 622px;
    height: 530px;
}
.section__7{
     width: 100%;
    max-width: 1920px;
    height: 652px;
    background-color: #F1F2F4;
}
.section__8{
     width: 100%;
    max-width: 1920px;
    height: 490px;
}