.section__1 {
    width: 100%;
    height: 530px;
    background-color: #FFFFFF;
}

.section__2 {
    width: 100%;
    height: 522px;
    background-color: rgb(236, 0, 0);
}

.section__3 {
    width: 100%;
    height: 554px;
    background-color: #FFFFFF;
}

.section__4 {
    width: 100%;
    height: 1210px;
    background-color: rgb(236, 0, 0);
}

.section__5 {
    width: 100%;
    height: 490px;
    background-color: #FFFFFF;
}