.section__1 {
  padding: 100px 150px;
  background-color: #FFFFFF;
}

.container__2 {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section__title {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
}

.job__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.job__list a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.job__list a p {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #767F8C;
}

@media (max-width: 1200px) {
  .job__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .job__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .job__list {
    grid-template-columns: 1fr;
  }

  .section__1 {
    padding: 50px 20px;
  }

  .section__title {
    font-size: 28px;
  }
}





.section__2 {
  padding: 100px 0;
  text-align: center;
  background-color: #f5f5f5;
}

.title {
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 60px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.step {
  background: white;
  padding: 20px;
  border-radius: 16px;
  width: 220px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step .icon {
  font-size: 10px;
  margin-bottom: 2px;
}

.step h3 {
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.step p {
  font-size: 14px;
  color: #666;
}





.line {
  height: 1px;
  background-color: #E4E5E8;
  width: 100%;
  margin: 40px 0;
}



.section__4 {
  background-color: #FFFFFF;
}
.cards-section {
  display: flex;
  gap: 24px;
  margin: 100px auto;
  max-width: 1100px;
  justify-content: center;
}

.card {
  flex: 1;
  border-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 500px;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #212529;
  font-family: 'Inter', sans-serif;
}

.card p {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.card a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #fff; 
  color: #007bff;
  padding: 10px 16px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  width: fit-content;
  transition: 0.2s ease;
  font-family: 'Inter', sans-serif;
}

.card.candidate {
  background: #e9eaed;
}

.card.employer {
  background: #ed9728;
}

.card.employer h2,
.card.employer p {
  color: #fff;
}

.card.employer a {
  background: #fff;
  color: #007bff;
  border: 1px solid #fff;
}

@media (max-width: 767px) {
  .cards-section {
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
  }

  .card {
    max-width: 100%;
  }
}
